Week 2: Write a script for data cleaning

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df= pd.read_csv("D:\Datasets\dirty_cafe_sales.csv")

Checking basic information about dataset

In [3]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [5]:
df.dtypes

Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [6]:
df.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_9226047,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

Checking null values

In [7]:
df.shape

(10000, 8)

Checking null values

In [8]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

Cleaning Individual Columns at a time for better results 


1.Item Column

In [9]:
df["Item"].value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
UNKNOWN      344
ERROR        292
Name: count, dtype: int64

In [11]:
df['Item'].replace('UNKNOWN', np.nan, inplace=True)
df["Item"].value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
ERROR        292
Name: count, dtype: int64

In [13]:
error = df[df['Item'] == 'ERROR'].index
df.drop(error, inplace=True)
df["Item"].value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
Name: count, dtype: int64

In [ ]:
item_mode= df['Item'].mode()[0]
df['Item'].fillna(item_mode, inplace=True)

In [16]:
df['Item'].isnull().sum()

np.int64(0)

2. Quantity Column

In [17]:
df['Quantity'].value_counts()

Quantity
5          1950
2          1916
4          1812
3          1795
1          1774
UNKNOWN     166
ERROR       162
Name: count, dtype: int64

In [18]:
df['Quantity'].replace('UNKNOWN', np.nan, inplace=True)

In [19]:
error_quantity = df[df['Quantity'] == 'ERROR'].index
df.drop(error_quantity, inplace=True)

In [21]:
df['Quantity'].value_counts()

Quantity
5    1950
2    1916
4    1812
3    1795
1    1774
Name: count, dtype: int64

In [26]:
df['Quantity']=df['Quantity'].astype('Int64')

In [27]:
df['Quantity'].dtypes

Int64Dtype()

In [29]:
mean_quantity = df['Quantity'].mean()
df['Quantity'].fillna(round(mean_quantity), inplace=True)

In [30]:
df["Quantity"].isnull().sum()

np.int64(0)

In [31]:
df['Quantity'].value_counts()

Quantity
3    2094
5    1950
2    1916
4    1812
1    1774
Name: count, dtype: Int64

3. Price Per Unit

In [32]:
df['Price Per Unit'].value_counts()

Price Per Unit
3.0        2318
4.0        2232
2.0        1172
5.0        1141
1.0        1091
1.5        1078
ERROR       186
UNKNOWN     159
Name: count, dtype: int64

In [33]:
df['Price Per Unit'].replace('UNKNOWN', np.nan, inplace=True)
error_price = df[df['Price Per Unit'] == 'ERROR'].index
df.drop(error_price, inplace=True)

In [34]:
df['Price Per Unit']=df['Price Per Unit'].astype('float')
df['Price Per Unit'].dtypes

dtype('float64')

In [ ]:
mean_price = round(df['Price Per Unit'].mean(), 2)
df['Price Per Unit'].fillna(mean_price, inplace=True)

In [41]:
df['Price Per Unit'].value_counts()

Price Per Unit
3.000000    2318
4.000000    2232
2.000000    1172
5.000000    1141
1.000000    1091
1.500000    1078
2.949402     328
Name: count, dtype: int64

In [43]:
df['Price Per Unit']= round(df['Price Per Unit'],2)

4. Total Spent

In [44]:
df['Total Spent'].value_counts()

Total Spent
6.0        916
12.0       888
3.0        870
4.0        869
20.0       697
15.0       684
8.0        637
10.0       491
2.0        466
9.0        444
5.0        432
16.0       420
25.0       236
1.0        216
7.5        215
4.5        211
1.5        195
ERROR      155
UNKNOWN    152
Name: count, dtype: int64

In [45]:
df['Total Spent'].replace('UNKNOWN', np.nan, inplace=True)
error_total = df[df['Total Spent'] == 'ERROR'].index
df.drop(error_total, inplace=True)
df['Total Spent']=df['Total Spent'].astype('float')
df['Total Spent'].dtypes

dtype('float64')

In [ ]:
mean_total = df['Total Spent'].mean()
df['Total Spent'].fillna(mean_total, inplace=True)

In [48]:
df['Total Spent']= round(df['Total Spent'],1)
df['Total Spent'].value_counts()

Total Spent
6.0     916
12.0    888
3.0     870
4.0     869
20.0    697
15.0    684
8.0     637
10.0    491
2.0     466
9.0     444
5.0     432
16.0    420
8.9     318
25.0    236
1.0     216
7.5     215
4.5     211
1.5     195
Name: count, dtype: int64

In [49]:
df['Total Spent'].isnull().sum()

np.int64(0)

5.Payment Method

In [50]:
df['Payment Method'].value_counts()

Payment Method
Digital Wallet    2106
Credit Card       2091
Cash              2085
ERROR              280
UNKNOWN            269
Name: count, dtype: int64

In [51]:
df['Payment Method'].replace('UNKNOWN', np.nan, inplace=True)
error_payment = df[df['Payment Method'] == 'ERROR'].index
df.drop(error_payment, inplace=True)
df['Payment Method'].value_counts()

Payment Method
Digital Wallet    2106
Credit Card       2091
Cash              2085
Name: count, dtype: int64

In [ ]:
mode_payment = df['Payment Method'].mode()[0]
df['Payment Method'].fillna(mode_payment, inplace=True)

In [53]:
df['Payment Method'].value_counts()

Payment Method
Digital Wallet    4749
Credit Card       2091
Cash              2085
Name: count, dtype: int64

In [54]:
df['Payment Method'].dtypes

dtype('O')

6. Location

In [55]:
df['Location'].value_counts()

Location
Takeaway    2708
In-store    2697
ERROR        320
UNKNOWN      302
Name: count, dtype: int64

In [56]:
df['Location'].replace('UNKNOWN', np.nan, inplace=True)
error_location = df[df['Location'] == 'ERROR'].index
df.drop(error_location, inplace=True)
df['Location'].value_counts()

Location
Takeaway    2708
In-store    2697
Name: count, dtype: int64

In [58]:
mode_location = df['Location'].mode()[0]
df['Location'].fillna(mode_location, inplace=True)
df['Location'].value_counts()

Location
Takeaway    5908
In-store    2697
Name: count, dtype: int64

7. Transaction Date

In [59]:
df['Transaction Date'].dtypes

dtype('O')

In [60]:
df['Transaction Date'].value_counts()

Transaction Date
UNKNOWN       140
ERROR         125
2023-08-07     36
2023-03-13     34
2023-09-21     34
             ...
2023-04-26     13
2023-11-24     13
2023-04-22     12
2023-02-17     12
2023-04-27     11
Name: count, Length: 367, dtype: int64

In [61]:
df['Transaction Date'].replace('UNKNOWN', np.nan, inplace=True)
error_date = df[df['Transaction Date'] == 'ERROR'].index
df.drop(error_date, inplace=True)

In [62]:
df['Transaction Date'].isnull().sum()

np.int64(282)

In [63]:
df['Transaction Date']=pd.to_datetime(df['Transaction Date'], errors='coerce')
df['Transaction Date']=df['Transaction Date'].dt.date
df['Transaction Date'].dtypes

dtype('O')

In [72]:
df['Transaction Date'].isnull().sum()

np.int64(282)

In [76]:
most_frequent_date = df['Transaction Date'].mode()[0]
df['Transaction Date'].fillna(most_frequent_date, inplace=True)
df['Transaction Date'].isnull().sum()

np.int64(0)

Let's check the whole table for any data cleaning

In [77]:
df.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [78]:
df.duplicated().sum()

np.int64(0)

In [79]:
df.describe()

       Quantity  Price Per Unit  Total Spent
count    8480.0     8480.000000  8480.000000
mean   3.022406        2.946999     8.907300
std    1.394552        1.256810     5.899541
min         1.0        1.000000     1.000000
25%         2.0        2.000000     4.000000
50%         3.0        3.000000     8.000000
75%         4.0        4.000000    12.000000
max         5.0        5.000000    25.000000

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8480 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    8480 non-null   object
 1   Item              8480 non-null   object
 2   Quantity          8480 non-null   Int64
 3   Price Per Unit    8480 non-null   float64
 4   Total Spent       8480 non-null   float64
 5   Payment Method    8480 non-null   object
 6   Location          8480 non-null   object
 7   Transaction Date  8480 non-null   object
dtypes: Int64(1), float64(2), object(5)
memory usage: 604.5+ KB